@charset "utf-8";

body {
	margin: 20px;
	padding: 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background: #f1f1f1;
	color: #555;
}
ul, dt, dl {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.container {
	min-width: 440px;
}
.title {
	font-size: 1.5em;
	font-weight: 300;
	color: #555;
}
.container {
	margin-top: 35px;
}